/*html {*/
    /*font-family: Arial;*/
    /*font-size: 16px;*/
/*}*/
body {
    line-height: 1.4em;
}
#container{
    min-height: 100vh;
    overflow-y: hidden;
}
#directions{
    display: flex;
}
#accordion {
    background-color: #eee;
    overflow: scroll;
    flex: 1;
    height: 100vh;
}
#accordion div {
    font-size:1.2em;
    line-height: 1.2em;
    display:none;
    margin-bottom: 2em;
}
#accordion h1, #info h1{
    margin-bottom: 0.6em;
    font-size: 1.4em;
    color: #cd1143;
}
#map {
    /*height: 100vh;*/
    min-height: 100vh;
    flex: 2;
}
#upload {
    transition: opacity .5s;
    opacity: 1;
    background-color: #ddd;
    position: relative;
    top: 0;
}
 .marker {
       display: block;
       cursor: pointer;
       background-image: url(../img/marker.svg); /* should be 20px by 20px, important for offset!! */
       background-size: contain;
       width:20px;
       height:20px;
   }

