/*html {*/
    /*font-family: Arial;*/
    /*font-size: 16px;*/
/*}*/
body {
    line-height: 1.4em;
}

#directions{
    display: flex;
}
#accordion {
    background-color: #eee;
    flex: 1;

}
#accordion div {
    font-size:1.2em;
    line-height: 1.2em;
    display:none;
    margin-bottom: 2em;
}
#accordion h1, #info h1{
    margin-bottom: 0.6em;
    font-size: 1.4em;
    color: #cd1143;
}
#map {
    height: 100vh;
    flex: 2;
}
#upload {
    transition: opacity .5s;
    opacity: 1;
    background-color: #ddd;
    position: relative;
    top: 0;
}
 .marker {
       display: block;
       cursor: pointer;
       background-image: url(../img/marker.svg); /* should be 20px by 20px, important for offset!! */
       background-size: contain;
       width:20px;
       height:20px;
   }

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #cd1143;
    display: inline-block;
    border: 1px solid #cd1143;
    cursor: pointer;
}
#icon1{
    width: 20px;
    height: 20px;
}

